* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  font-size: 16px;
  font-family: 'Avenir', sans-serif;
  font-weight: normal;
  background-color: #f8f8ff;
}

.nav-link {
  padding: 0;
  color: rgb(56, 14, 14);
  width: 100%;
  text-decoration: underline;
}
.navbar-nav .nav-item:hover .nav-link {
  background-color: rgb(56, 14, 14);
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 0 1em 0 0;
  }
  #navbarButton {
    display: none;
  }
  .navbar-container {
    margin: 0 0 1em 10%;
    height: 3em;
    /* border-bottom: solid 0.1em; */
  }
  .navbar-parent {
    background: white;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: solid 0.1em;
    height: 3em;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar-container {
    padding: 1em;
  }
  #burger {
    width: 2em;
    display: inline-flex;
  }
}
